.fist {
  color: var(--secondary-glow);
}

.pop {
  color: blueviolet;
}

.tv {
  color: red;
}

.navbar {
  background: #fff;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 1rem 1.5rem;
  box-shadow: 2px 3px 2px #f1f1f1;
  position: sticky;
  top: 0;
  left: 0;
  z-index: 0;
}

.hamburger {
  display: none;
}

.logo {
  font-size: 2rem;
  font-weight: 500;
}

.navline {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.navItem {
  margin-left: 2rem;
}

.navLink {
  font-weight: bold;
}

.navLink:hover {
  color: burlywood;
}
